@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    margin: 0;
}

section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-content {
    margin: 0 auto;
    max-width: 500px;
}

.top-padding {
    padding-top: 30px;
}

header {
    height: 50px;
    padding: 20px 0;
    background-color: #f7f7f7;
    border-bottom: 1px solid #CCC; 
}

.header-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    float: left;
    padding-left: 2em;
}

#logo img {
    max-height: 50px;
}

#logo-text {
    margin: 0;
    position: absolute;
    top: 3px;
    left: 100px;
    display: inline;
}

#logo-text h1 {
    font-size: 1em;
    margin: 0;
}

#logo-text h4 {
    font-size: 0.8em;
    margin: 0;
}

#nav-bar {
    height: 100%;
    padding-right: 2em;
    float: right;
}

ul {
    margin: 0;
    height: 100%;
}

#nav-bar li {
    display: inline-block;
    line-height: 50px;
    padding-right: 20px;
    font-weight: 700;
    color: #bc646c;
}

#nav-bar li:last-child {
    padding-right: 0;
}

#nav-bar a:hover {
    color: #C88B91 !important;
}

#nav-bar a:visited {
    color: #bc646c;
}

#nav-bar a {
    text-decoration: none;
}

main {
    margin-top: 70px;
    max-width: 100%;
}

#product {
    padding-top: 0;
    text-align: center;
}

#video iframe {
    width: 560px;
    height: 315px;
}

#about {
    text-align: center;
    padding-bottom: 70px;
}

#about-grid {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.about-grid--item {
    max-width: 250px;
}

#contact {
    background-color: #C88B91;
    color: #FFF;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4281C1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #66A4E4;
  }

  footer {
      text-align: center;
      font-size: 0.5em;
  }

  /* Mobile layout */
  @media only screen and (max-width: 375px) {
    #logo-text {
        display: none;
    }

    #nav-bar {
        font-size: 0.7em;
    }

    .container {
        padding-top: 15px;
    }

    .text-content {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .text-left {
        text-align: center;
    }

    #about {
        padding-top: 0;
        padding-bottom: 20px;
    }
    
    #about-grid {
        max-width: 250px;
        margin: 0 auto;
        font-size: 0.8em;
    }


    #video iframe {
        width: 100%;
        height: 215px;
    }

    #contact-form {
        max-width: 250px;
    }

  }

  @media only screen and (min-width: 376px) and (max-width: 768px) {

    #logo-text {
        display: none;
    }

    #nav-bar {
        font-size: 0.7em;
    }

    .container {
        padding-top: 15px;
    }

    .text-content {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .text-left {
        text-align: center;
    }

    #about {
        padding-top: 0;
        padding-bottom: 20px;
    }
    
    #about-grid {
        max-width: 250px;
        margin: 0 auto;
        font-size: 0.8em;
    }


    #video iframe {
        width: 100%;
        height: 215px;
    }

    #contact-form {
        max-width: 300px;
    }
  }